* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f0ebe1;
  color:#f0ebe1;
 
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 80%;
  max-width:600px;
}

section {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.Content01 {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.Content01 input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#butao {
    display: flex;
    justify-content: flex-end;
    border:none;
    gap: 3px;
}

#Butao2{
    border:0;
    background: #F28C3C;
    color:bisque;
    border-radius:8px;
    width: 8rem;
    height:2rem;
}

#Butao3{
  border:0;
  background: #F28C3C;
  color:bisque;
  border-radius:8px;
  width: 8rem;
  height:2rem;
}

#Maior{
 display: flex;
 flex-direction:column;
 align-items:center;
 justify-content: center;
 margin: 0 auto;
  width: 70%;
  max-width:500px;
  background-color: #222222;
  box-shadow: 5px 5px #F28C3C;
  border: 1px solid #F28C3C;
}