* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f0ebe1;
 
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 80%;
  max-width:600px;
}

section {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
 
  padding: 1rem;
}

.Content01 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Content01 input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#butao {
    display: flex;
    justify-content: flex-end;
    border:none;
    gap: 3px;
}

#Butao2{
    border:0;
    background: aqua;
    color:bisque;
    border-radius:8px;
    width: 8rem;
    height:2rem;
}

#Butao3{
  border:0;
  background: aqua;
  color:bisque;
  border-radius:8px;
  width: 8rem;
  height:2rem;
}