*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222222;
}

h1{
    margin-top: 10px;
    color: #F0EBE1;
    text-align: center;
}

h2{
    margin: 15px 0 0;
}


.grid img{
    height: 21.875rem;
    width: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
    margin: 1rem 0;
    border-radius: 5px;
  }

  .card-link{
      padding: 50px;
      margin: 0 0 15px;
  }

  .card-regioes{
    background-color: #F0EBE1;
    color: #222222;
    border-radius: 5px;
    margin: 1rem;
}

.img-container{
    height: 14rem;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

.img-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.2s linear;
    object-position: top center;
    filter: brightness(0.8);
}

.img-container > img:hover{
    transform: scale(1.1);
    filter: brightness(1);
}

  .card-link{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background-color: #F28C3C;
    text-decoration: none;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    transition: all 300ms ease;
    padding: 10px 15px;
}



a:hover:not(.card-link){
    transform: scale(120%);
    color: #F28C3C !important;
    border-radius: 5px;
}