

body{
    scroll-behavior: smooth;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    justify-content: center;
    background-color: var(--preto);
    width: 75%;
}

.card > img{
    max-width: 35%;
}

.card{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    border:transparent;
    border-radius: 10px;
    background-color:#F0EBE1
}

section > h1{
    text-align: center;
    background-color: var(--preto);
    margin: 0;
    color: var(--branco);
    font-size: 5rem;
}

h2{
    font-size: 2.7rem;
}

.participantes{
    display: flex;
    background-color: var(--preto);
    justify-content: center;
    padding: 50px;
}

.icons{
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    margin-top: 110px;
}

#github{
    height: 50px;
    border-radius: 50px;
}

#linkedin{
    height: 48px;
    margin-top:3px;
}

.card:hover{
    transform: scale(1.05);
    transition: all 250ms ease-in-out;
    border-style: solid;
    border-color: var(--laranja);
    border-width: 4px;
    cursor: pointer;
}

.footer{
    background-color: var(--branco);
}


    @media (max-width: 950px) {
        .card-grid{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
            width: 90%;
        }
        }

    @media (max-width: 500px){
        .card-grid{
            display:grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
            width: 70%;
        }

        section > h1{
            font-size: 4rem;
        }

        h2{
            font-size: 2rem;
        }

        .card > img{
            max-width: 45%;
        }

        .icons{
            flex-direction: column;
            margin-top: 50px;
            align-items: center;
        }
        

    }